extends layout

block content
    div.card-container
    a.card(href="/turn?choice=rock")
        img(src="![](../public/images/rock.icon.jpg)" height='100px' width='100px')

    a.card(href="/turn?choice=paper")
        img(src="![](../public/images/paper.icon.jpg)" height='100px' width='100px')

    a.card(href="/turn?choice=scissor")
        img(src="![](../public/images/scissor.icon.jpg)" height='100px' width='100px')
